body {
    margin :0px;
    padding: 0px;
    background-color: rgb(101 101 160);
    color: white;
}

header {
    text-align: center;
}
header h1{
    padding: 0;
}
header p{
    padding: 0;
    font-style: italic;
}
.form_parent {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(27 27 50 / 80%);
    padding: 50px 50px;
    border-radius: 25px 25px;
    font-size: 1.25rem;
}
label{
    display: block;
    width: 100%;
    margin-top: 20px;
}

select,input {
    margin: 10px 0 0 0;
    width: 100%;
    padding: 5px;
    min-height: 2em;
    border-radius: 10px 10px;
}
select {
    min-height: 3em !important;
}
input[type='radio'],.inline{
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}


fieldset {
    border: none;

}

textarea { 
    padding: 5px;
    font-size: 1.25rem;
    margin: 10px 0 0 0;
    width: 100%;
    border-radius: 10px 10px;
    min-height: 10em;
}
input[type='textarea']::placeholder{
    text-align: start;
}

button {
    display: block;
    width: 100%;
    margin: 10px auto;
    min-height: 3em;
    background-color: #37af65;
    color: white;
    font-weight:600;
}
button:hover{
    cursor: pointer;
}